*~
.DS_Store
.Apple*
node_modules
.vim/view
.vim/bundle
.vim/.netrwhist

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
!**/*.xcodeproj/default.*
